<header>
    <nav>
        <ul>
            <li>
                <a href="">Add</a>
            </li>
            <li>
                <a href="">List</a>
            </li>
        </ul>
    </nav>
    <h1>{{pageTitle}}</h1>
</header>