<header>
    <h1>{{pageTitle}}</h1>
    <nav id="nav">
        <ul>
            <li class="nav-list">
                <a href="/tasks/add">Add</a>
            </li>
            <li class="nav-list">
                <a href="/tasks">List</a>
            </li>
            <div class="submit-button-box">
                <form action="/logout" method="POST">
                    <button class="submit-button logout">Logout</button>
                </form>
            </div>
        </ul>
    </nav>
</header>