<header>
    <h1>{{pageTitle}}</h1>
    <nav id="nav">
        <ul>
            <li class="nav-list">
                <a href="/tasks/add">Add</a>
            </li>
            <li class="nav-list">
                <a href="/tasks">List</a>
            </li>
        </ul>
    </nav>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
</header>