<header>
    <h1>{{pageTitle}}</h1>
    <nav id="nav">
        <ul>
            {{#if user}}
            <li class="nav-list">
                <a href="/tasks/add">Add</a>
            </li>
            <li class="nav-list">
                <a href="/tasks">List</a>
            </li>
        <div class="drop-box">
            <button class="toggle-button">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="dropdown">
                <div class="button-box column">
                    <form action="/logout" method="POST">
                        <button class="button">Logout</button>
                    </form>
                    <button class="button" id="delete-user">DeleteAccount</button>
                </div>
            </div>
        </div>
            {{else}}
            <li class="nav-list">
                <a href="/">Top</a>
            </li>
            {{#if pageFlag}}
            <li class="nav-list">
                <a href="/login">Login</a>
            </li>
            {{else}}
            <li class="nav-list">
                <a href="/register">Register</a>
            </li>
            {{/if}}
            {{/if}}
        </ul>
    </nav>
</header>