<header>
    <h1>{{pageTitle}}</h1>
    <nav id="nav">
        <ul>
            <li class="nav-list">
                <a href="/">Top</a>
            </li>
            <li class="nav-list">
                <a href="/tasks">List</a>
            </li>
        </ul>
    </nav>
</header>