{{>head}}
<body>
      <h1>Error</h1>
      <p>{{message}}:{{status}}</p>
      {{#if user}}
      <a href="/tasks">Back to TaskList</a>
      {{else}}
      <a href="/">Back to Top</a>
      {{/if}}
</body>
</html>