<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NestJS TodoApp</title>
    </head>
<body>
    <h1>Todo-App</h1>
    <form action="" method="POST" class="add-task">
        <div class="layout-flex">
            <label for="title">Task:</label>
            <input type="text" name="title" id="title">
        </div>
        <div class="layout-flex">
            <label for="deadline">Deadline:</label>
            <input type="text" name="deadline" id="deadline">
        </div>
        <button type="submit">Add</button>
    </form>
</body>
</html>