{{>head}}
<body>
    <h1 class="h-title">{{pageTitle}}</h1>
    <main>
        <div class="submit-button-box login">
            <form action="/login" method="GET" autocomplete="off">
                <button type="submit" class="submit-button login-button">Login</button>
            </form>
            <form action="/register" method="GET" autocomplete="off">
                <button type="submit" class="submit-button login-button">Register</button>
            </form>
        </div>
    </main>
</body>
</html>