{{>head}}
<body>
    {{>header}}
    <main>
        <form action="./tasks" method="POST" class="add-task">
            <div class="submit-box">
                <label for="title">Task:</label>
                <input type="text" name="title" id="title">
            </div>
            <div class="submit-box">
                <label for="deadline">Deadline:</label>
                <input type="datetime-local" name="deadline" min="{{currentDate}}" id="deadline">
            </div>
            <button type="submit" class="task-button register">Add</button>
        </form>
    </main>
</body>
</html>