{{>head}}
<body>
    <main>
        <h1>{{pageTitle}}</h1>
        <div class="submit-button-box">
            <form action="/login" method="GET" class="add-task" autocomplete="off">
                <button type="submit" class="submit-button">Login</button>
            </form>
            <form action="/register" method="GET" class="add-task" autocomplete="off">
                <button type="submit" class="submit-button">Register</button>
            </form>
        </div>
    </main>
</body>
</html>