{{>head}}
<body class="top-page">
    <main class="top">
        <h1>{{pageTitle}}</h1>
        <div class="button-box center-wrap">
            <a href="/login" class="button large-button">Login</a>
            <a href="/Register" class="button large-button">Register</a>
        </div>
    </main>
</body>
</html>