{{>head}}
<body>
    <header>
        <h1>{{pageTitle}}</h1>
        <nav id="nav">
            <ul>
                <li class="nav-list">
                    <a href="/">Top</a>
                </li>
                <li class="nav-list">
                    <a href="/login">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/register" id="register" method="POST" class="add-task" autocomplete="off">
            <div class="submit-box">
                <label for="username">User:</label>
                <input type="text" name="username" id="username" required autofocus>
            </div>
            <div class="submit-box">
                <label for="password">Password:</label>
                <input type="text" name="password" id="password" required>
            </div>
            <button type="submit" class="submit-button register">Register</button>
        </form>
    </main>
</body>
</html>