@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #F2F0E9;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}
body.top-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    box-sizing: border-box;
}

input[type="text"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    max-width: 600px;
    width: 90%;
    margin: 0 auto 20px;
}
header.top {
    justify-content: center;
    margin: 15px auto;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
main.top h1{
    text-align: center;
}
a {
    display: block;
    color: #333;
    text-decoration: none;
}


header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    column-gap: 10px;
}
.nav-list {
    list-style: none;
}
.nav-list a {
    position: relative;
    top: 0;
    display: inline-block;
    width: 90px;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    transition: all .1s;
}
.nav-list a::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 3px;
    bottom: 0;
    left: 0;
}
.nav-list a:hover {
    top: -3px;
}


.wrapper {
    max-width: 600px;
    width: 100%;
}
.submit-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 25px 0;
}
.submit-box label {
    width: 20%;
}
.submit-box input {
    width: 80%;
    background-color: #F2F0E9;
    border: none;
    border-bottom: 1px #333 solid;
    border-radius: 0;
}
.submit-box input:focus {
    outline: none;
}
.submit-box.search {
    column-gap: 10px;
}
.submit-box.search label {
    width: 15%;
}
.submit-box.search input {
    width: 85%;
}

.task-card {
    margin: 10px auto;
    padding: 10px 25px;
    background: #FDFBF5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.task-list {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
}
.task-list dt {
    width: 15%;
    margin: 10px 0;
}
.task-list dd {
    width: 85%;
    word-break: break-all;
    margin: 10px 0;
}
.empty-task {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


.button-box {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin: 10px 0;
}
.button-box.center-wrap {
    justify-content: center;
    column-gap: 30px;
}
.button-box.column {
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    row-gap: 5px;
    margin: 0;
}
.button {
    padding: 5px 10px;
    background-color: #FEC463;
    border: 2px #333 solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}
.button:hover {
    background-color: #FED891;
}
.large-button {
    width: 135px;
    padding: 15px 0;
    text-align: center;
}
#delete-user {
    background-color: #FF8563;
}
#delete-user:hover {
    background-color:#FFAD91;
}
.register {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 16px;
}

.search-task {
    margin-bottom: 30px;
}
.search-button {
    display: flex;
    justify-content: flex-end;
    width: 15%;
}
.search-button button {
    min-width: 90px;
}

.drop-box {
    position: relative;
}

.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3px;
    width: 35px;
    height: 35px;
    background-color: #FEC463;
    border: 2px #333 solid;
    border-radius: 100%;
    cursor: pointer;
}
.toggle-button:hover {
    background-color: #FED891;
}
.toggle-button span {
    display: block;
    width: 3px;
    height: 3px;
    background-color: #333;
    border-radius: 100%;
}

.dropdown {
    display: none;
}
.dropdown.active {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    margin-top: 10px;
    padding: 20px;
    background: rgba(51, 51, 51, 0.7);
    border-radius: 10px;
  }
.dropdown-list {
    list-style: none;
}


@media screen and (max-width: 768px) {
    header {
        column-gap: 15px;
    }

    h1 {
        font-size: 24px;
    }

    .nav-list a {
        width: 70px;
        font-size: 16px;
    }

    .task-list {
        flex-direction: column;
    }
    .task-list dt {
        width: 100%;
        margin: 0;
    }
    .task-list dd {
        width: 100%;
    }

    .submit-box {
        flex-direction: column;
        row-gap: 20px;
    }
    .submit-box input,.submit-box label,.submit-box.search input {
        width: 100%;
    }
    .search-button {
        justify-content: flex-start;
    }

    .button-box.center-wrap {
        flex-direction: column;
        row-gap: 15px;
    }
}