body {
    margin: 0;
    padding: 0;
    color: #1f1e1e;
    background-color: #F2F0E9;
    font-size: 16px;
}
body.top-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    width: 500px;
    margin: 0 auto 20px;
}
header.top {
    justify-content: center;
    margin: 15px auto;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
main.top {
    margin: 15px auto;
}


header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.nav-list {
    list-style: none;
}
.nav-list a {
    position: relative;
    top: 0;
    display: inline-block;
    width: 100px;
    padding: 10px 0px;
    /* background-color: #FEC463; */
    /* border-bottom: 3px #1f1e1e solid; */
    /* border-radius: 5px; */
    color: #1f1e1e;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    transition: all .1s;
}
.nav-list a::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #1f1e1e;
    border-radius: 3px;
    bottom: 0;
    left: 0;
}
.nav-list a:hover {
    top: -3px;
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); */
}


.add-task {
    width: 500px;
}
.submit-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 25px 0;
}
.submit-box label {
    width: 20%;
}
.submit-box input {
    width: 80%;
    background-color: #F2F0E9;
    border: none;
    border-bottom: 1px #1f1e1e solid;
}
.submit-box input:focus {
    outline: none;
}
.task {
    word-break: break-all;
}


.task-list {
    width: 500px;
}
.task-card {
    margin: 10px auto;
    padding: 15px 20px;
    background: #FDFBF5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.empty-task {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


.submit-button-box {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin: 10px 0;
}
.submit-button-box.login {
    justify-content: center;
    column-gap: 30px;
    width: 500px;
}
.submit-button {
    padding: 5px 10px;
    background-color: #FEC463;
    border: 2px #1f1e1e solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
.submit-button:hover {
    background-color: rgba(254, 196, 99, 0.7);
}
.submit-button.invisible {
    margin-left: 20px;
    background-color: rgba(31,30,30,0);
}
.submit-button.invisible:hover {
    background-color: rgba(31,30,30,0.1);
}
.login-button {
    width: 135px;
    padding: 15px 0;
    background-color: #FEC463;
    border: 2px #1f1e1e solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}
.register {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 16px;
}

.search-task {
    margin-bottom: 30px;
}
.search {
    width: 15%;
}