{{>head}}
<body>
    {{>header}}
    <main>
        <form action="/tasks" method="POST" class="wrapper" autocomplete="off">
            <div class="submit-box">
                <label for="title">Task:</label>
                <input type="text" name="title" id="title" required>
            </div>
            <div class="submit-box">
                <label for="deadline">Deadline:</label>
                <input type="datetime-local" name="deadline" min="{{currentDate}}" id="deadline" required>
            </div>
            <button type="submit" class="button register">Add</button>
        </form>
    </main>
    <script type="text/javascript" src="/js/task.js"></script>
</body>
</html>