<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NestJS TodoApp</title>
        <link rel="stylesheet" type="text/css" href="/styles/tasks.css">
    </head>
<body>
    <h1>EditTask</h1>
        <form action="/tasks/edit/{{id}}" method="POST">
            <div class="layout-flex">
                <label for="title">Task:</label>
                <input type="text" name="title" id="title" value="{{title}}">
            </div>
            <div>
                <label for="deadline">Deadline:</label>
                <input type="datetime-local" name="deadline" id="deadline" value="{{deadline}}">
            </div>
            <button type="submit">Update</button>
        </form>  
</body>
</html>