{{>head}}
<body>
    {{>header}}
    <main>
        <form action="/tasks/edit/{{id}}" method="POST">
            <div class="layout-flex">
                <label for="title">Task:</label>
                <input type="text" name="title" id="title" value="{{title}}">
            </div>
            <div>
                <label for="deadline">Deadline:</label>
                <input type="datetime-local" name="deadline" id="deadline" value="{{deadline}}">
            </div>
            <button type="submit">Update</button>
        </form>
    </main>  
</body>
</html>