{{>head}}
<body>
    {{>header}}
    <main>
        <div class="tasks">
            <div class="search-task">
                <input type="text">
                <button>検索</button>
            </div>      
            {{#each tasks}}
            <div class="task-card">
                <div>
                    <p>Task:{{title}}</p>
                    <p>Deadline:{{deadline}}</p>
                </div>
                <div class="task-button-box">
                    <form action="/tasks/edit/{{id}}" method="GET">
                        <button type="submit" class="task-button">Edit</button>
                    </form>
                    <form action="/tasks/delete/{{id}}" method="POST">
                        <button type="submit" class="task-button">Delete</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </main>
</body>
</html>