<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NestJS TodoApp</title>
        <link rel="stylesheet" type="text/css" href="/styles/tasks.css">
    </head>
<body>
    {{>header}}
    <div class="tasks">
            <button onclick="location.href='/'">新しいタスクを追加する</button>
        <div class="search-task">
            <input type="text">
            <button>検索</button>
        </div>      
        {{#each tasks}}
        <div class="task-view">
            <div>
                <p>Task:{{title}}</p>
                <p>Deadline:{{deadline}}</p>
            </div>
            <div>
                <form action="/tasks/edit/{{id}}" method="GET">
                    <button type="submit" class="edit">Edit</button>
                </form>
                <form action="/tasks/delete/{{id}}" method="POST">
                    <button type="submit" class="delete">Delete</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</body>
</html>